# Copyright (c) 2024 TheMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SOFLE_RGB_LEFT

config ZMK_KEYBOARD_NAME
	default "Sofle RGB"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # SHIELD_SOFLE_RGB_LEFT

if SHIELD_SOFLE_RGB_LEFT || SHIELD_SOFLE_RGB_RIGHT

config ZMK_SPLIT
	default y

endif # SHIELD_SOFLE_RGB_LEFT || SHIELD_SOFLE_RGB_RIGHT
